<%- include ('../partials/header') %>
<header class="home-cta">
  <div>
    <h1>
      Superhero Registration Act
    </h1>

    <hr class="my-3">
    
    <h2>
      More than an act! It's a responsibility!
    </h2>
    
    <hr class="my-3">

    <a href="/superheroes/new" class="btn btn-dark btn-lg mt-5">
      Register Now
    </a>
  </div>
</header>
<%- include ('../partials/footer') %>