<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Register a Known Hero</h1>
  </header>
  <hr>

  <div>
    <%- include ('./_form') %> 
  </div>
</div>

<%- include ('../partials/footer') %>